.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog–Ütems{
    padding: 10px;
    
}

.dialog{
    color: white;
}

.dialog.active{
    color: gold;
}

.messages{
    padding: 10px;
}

.message{
    font-size: 14px;
    color: white;
}